@media (max-width: 1199.98px) {
    .cardDetail img {
        max-width: 100%;
        height: auto;
        margin: 10px;
    }
}

/* Para pantallas con ancho igual o mayor a 1200px */
@media (min-width: 1200px) {
    .cardDetail img {
        width: 427px;
        height: 427px;
        margin: 10px;
    }
}

.descProduct {
    font-size: 1.2rem;
    font-weight: bold;
}