.cardItem {
    margin: 10px;
}

.cardItem .card-title {
    max-width: 3000px; /* Ajusta el valor según tus necesidades */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }