.auth-container {
    display: flex;
    align-items: center;
  }
  
  .auth-container > * {
    margin-right: 10px; /* Ajusta el espaciado entre los elementos */
  }
  
  .auth-container > *:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
  }
  
  .auth-message {
    color: #777;
    font-size: 14px;
  }