/* .auth-container {
    display: flex;
    align-items: center;
  } */
  
/*   .auth-container > * {
    margin-right: 10px; 
  }
  
  .auth-container > *:last-child {
    margin-right: 0;
  }
  
  .auth-message {
    color: #777;
    font-size: 14px;
  } */